<div class="cont">
    <div class="product-card">
        <div class="product-card__image">
            <img src="http://127.0.0.1:8000/image/{{animalCard.urlimg}}">
        </div>
        <div class="product-card__info">
            <h2 class="product-card__title">{{animalCard.nombre}}</h2>
            <p class="product-card__description">{{animalCard.descripcion}}</p>
            <div class="product-card__price-row">
                <span class="product-card__price">{{animalCard.especie}}</span>
                <button class="product-card__btn">Add to Cart</button>
            </div>
        </div>
    </div>
</div>