<div class="new-Animal">
    <form action="">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text">
        </div>

        <div>
            <label for="especie">Especie:</label>
            <input type="text">
        </div>

        <div>
            <label for="descripcion">Descripcion:</label>
            <textarea></textarea>
        </div>

        <div>
            <label for="urlimg">URL Imagen:</label>
            <input type="text">
        </div>
        
        <div>
            <label for="longevidad">Longevidad:</label>
            <input type="text">
        </div>
        
        <div>
            <input type="submit" value="Agregar">
        </div>
    </form>
</div>