<h2 mat-dialog-title>Agregar Animal</h2>
<mat-dialog-content>

    <div class="d-flex" (click)="openModalImage()">
        <div class="flex-shrink-0">

            <img *ngIf="seCambio==false" src="{{data.urlimg}}" alt="add_image" height="150" />
            <img *ngIf="seCambio==true" src="http://127.0.0.1:8000/image/{{data.urlimg}}" alt="add_image" height="150" />

        </div>
    </div>

    <form #addForm="ngForm">
        <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="data.nombre" name="nombre" >
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Longevidad</mat-label>
            <input matInput [(ngModel)]="data.longevidad" name="longevidad" onkeydown="return /[0-9]/i.test(event.key) || event.key == 'Backspace' || event.key == 'Tab'">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Descripcion</mat-label>
            <input matInput [(ngModel)]="data.descripcion" name="descripcion" >
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Especie</mat-label>
            <input matInput [(ngModel)]="data.especie" name="especie" >
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="onclickAdd()">Guardar</button>

</mat-dialog-actions>