<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <div class="user-info">
            <img (click)="openModalViewUser()" src= "http://127.0.0.1:8000/image/user/{{usuarioNav.urlimg}}" alt="User Image" class="user-image">
            <h1 class="logo">animal<strong>ITO</strong>s</h1>     
        </div>
        <mat-dialog-actions>
            <button class="agregar" mat-button (click)="triggerOpenModalAdd()">Agregar</button>
        </mat-dialog-actions> 
        <ul class="menu-items">
            <li><a (click)="cerrarSesion()">Cerrar Sesion</a></li>
            <li><a (click)="vistaUsuario()">Usuarios</a></li>
            <li><a (click)="vistaAnimales()">Animales</a></li>
        </ul>
        
    </div>
</nav>
